* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.d-flex {
    display: flex;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.grid {
    display: grid;
    gap: 1rem;
}